[submodule "instances/support/zammad"]
	path = instances/support/zammad
	url = https://github.com/zammad/zammad-docker-compose.git
[submodule "instances/pipeline/ideafast_etl"]
	path = instances/pipeline/ideafast_etl
	url = https://github.com/ideafast/ideafast-etl
