*.env
*.sw*
*.json
*.DS_Store
core/acme.json
core/usersfile
instances/supportdocs/docs
instances/middleware/local
instances/pipeline/init/connections.yaml
instances/pipeline/init/variables.json
data/
local/
*.log

instances/api/ssh/*
!instances/api/ssh/.gitkeep