IS_DEV="False"

# IDEAFAST (WP3)
INVENTORY_API=""http://consumer_dev/inventory/""
DATABASE_URI="mongodb://USER:PASSWORD@mongo:27017/?authSource=DATABASE&authMechanism=SCRAM-SHA-256"
SUPPORT_BASE_URL=""
SUPPORT_TOKEN=""

# DREEM DEVICE
DREEM_LOGIN_URL=""
DREEM_API_URL=""

DREEM_KIEL_USERNAME=""
DREEM_KIEL_PASSWORD=""

DREEM_NEWCASTLE_USERNAME=""
DREEM_NEWCASTLE_PASSWORD=""

DREEM_MUNSTER_USERNAME=""
DREEM_MUNSTER_PASSWORD=""

DREEM_ROTTERDAM_USERNAME=""
DREEM_ROTTERDAM_PASSWORD=""

# VTT's Stress Monitor (SMA)
VTTSMA_AWS_ACCESSKEY=""
VTTSMA_AWS_SECRET_ACCESSKEY=""
VTTSMA_AWS_BUCKET_NAME=""
VTTSMA_GLOBAL_DEVICE_ID=""

# BYTEFLIES DEVICE
BYTEFLIES_API_URL=""
BYTEFLIES_USERNAME=""
BYTEFLIES_PASSWORD=""
BYTEFLIES_AWS_CLIENT_ID=""
BYTEFLIES_AWS_AUTH_URL=""

# DATA MANAGEMENT PORTAL
DMP_STUDY_ID=""
DMP_URL=""
DMP_PUBLIC_KEY=""
DMP_SIGNATURE=""

UCAM_API="http://consumer_dev/ucam/"